We begin with our imports

In [11]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np
import pandas as pd
from ggplot import *

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ggplot/utils.py:81: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  pd.tslib.Timestamp,
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ggplot/stats/smoothers.py:4: FutureWarning: The pandas.lib module is deprecated and will be removed in a future version. These are private functions and can be accessed from pandas._libs.lib instead
  from pandas.lib import Timestamp
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

The command below means that the output of multiple commands in a cell will be output at once.

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Import all data sets below

In [3]:
pwd

'/Users/anthonymiyoro/Desktop/rossman_store'

In [4]:
data_path = '/Users/anthonymiyoro/Desktop/rossman_store/data'

In [53]:
store_full=pd.read_csv(data_path+'/store.csv', low_memory=False)
test=pd.read_csv(data_path+'/test.csv', low_memory=False)
train=pd.read_csv(data_path+'/train.csv', low_memory=False)

We can begin by plotting the correlation of number of loans with the dates

In [54]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [55]:
train['Date'].dtype

dtype('O')

We can convert the Data column to the datetime data type first.

In [56]:
train['Date'] = pd.to_datetime(train['Date'], dayfirst=False)
# train['Date'] = train['Date'].dt.year

In [57]:
train['Date'].dtype

dtype('<M8[ns]')

In [58]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [86]:
ts=train[['Date','Sales']]
ts = ts.set_index(['Date'])


ts=ts.groupby(ts.index.year)[train['Date'].dt.month].sum()

# groupby([df.birthdate.dt.year, df.birthdate.dt.month]).agg('count')
ts=ts.groupby([ts.index.year, ts.index.month]).agg('count')
ts['Date_time'] = ts.index


# train.set_index('Date').groupby(train['Date'].dt.month)[train['Date'].dt.month].resample("M").sum()
ts.reset_index(drop=True)

ggplot(ts , aes(x = 'Date_time', y = 'Sales')) + geom_point(color = "blue") + \
ggtitle("Number of Sales per Store") + xlab("Date") + ylab("Number of Sales")

KeyError: 'Columns not found: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12'